In [60]:
import pandas as pd
import pickle
from nltk.stem import PorterStemmer
import string
import nltk
from nltk.corpus import stopwords  
from sklearn.naive_bayes import MultinomialNB

In [61]:
naive_model = pickle.load(open('Review_Model.pkl','rb'))
count_vectorizer = pickle.load(open('Vector_Model.pkl','rb'))

C:\Users\RENU\anaconda3\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator MultinomialNB from version 1.6.1 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
C:\Users\RENU\anaconda3\Lib\site-packages\sklearn\base.py:376: InconsistentVersionWarning: Trying to unpickle estimator CountVectorizer from version 1.6.1 when using version 1.5.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [62]:
rate = int(input('Enter rating of product (0-5:'))
review = input('Enter a one/two word review of product:')
summary = input('Enter summary of product:')

Enter rating of product (0-5: 4
Enter a one/two word review of product: 'super!'
Enter summary of product: 'This product is very good for value of money'

In [63]:
rate = 4
review = 'super!'
summary = 'This product is very good for value of money'

In [64]:
data = pd.DataFrame([[rate, review, summary]], columns=['Rate', 'review', 'summary'])
data

   Rate  review                                       summary
0     4  super!  This product is very good for value of money

In [65]:
data['Rate'] = data['Rate'].apply(lambda rate:[str(rate)])

In [66]:
def set_review(review):
    review = review.replace(' ','')
    return [review]

In [67]:
data['review'] = data['review'].apply(set_review)

In [68]:
data

  Rate    review                                       summary
0  [4]  [super!]  This product is very good for value of money

In [69]:
nltk.download('stopwords')
def remove_stopwords_simple(text):
    language='english'
    stop_words = set(stopwords.words(language))
    return ' '.join([word for word in str(text).split() if word.lower() not in stop_words])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\RENU\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [70]:
porter_stemmer = PorterStemmer()

In [71]:
def set_summary(summary):
    temp = []
    summary = summary.split()
    for word in summary:
        word = porter_stemmer.stem(word)
        temp.append(word)
    return temp

In [72]:
data['summary'] = data['summary'].apply(remove_stopwords_simple)

In [73]:
data['summary'] = data['summary'].apply(set_summary)

In [74]:
data

  Rate    review                       summary
0  [4]  [super!]  [product, good, valu, money]

In [75]:
data['Tag'] = data['Rate'] + data['review'] + data['summary']

In [76]:
data.drop(['Rate','review','summary'],axis=1,inplace=True)

In [77]:
def remove_punctuation(text):
    temp = []
    punctuations = list(string.punctuation)
    for word in text:
        for symbol in punctuations:
            if symbol in word:
                word = word.replace(symbol,'')
        temp.append(word)
    return ' ' .join(temp)

In [78]:
data['Tag'] = data['Tag'].apply(remove_punctuation)

In [79]:
data

                               Tag
0  4 super product good valu money

In [80]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vector_data = vectorizer.fit_transform(data['Tag']).toarray()

In [81]:
vector_data

array([[1, 1, 1, 1, 1]], dtype=int64)

In [82]:
# naive_model.predict(vector_data)